// // Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

body
{
    background-color: rgb(20, 71, 71);
    // background-image: url(/public/img/login2.png);
    // background-size: cover;
    
}
// .nav-item{
//     border-radius: 10px;
//     width: 200px;
//     margin: 2%;
//     // background-color: white;
//     text-align: center;
//     font-size: 20px;
  
// }
.w,button{
    align-content: center;
    width:  300px;
}
.s{width: 10%;}
header ul,button {
    align-content: center;
    align-items: center;
    justify-content: center;
}
